/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  margin: 0;
}

#root {
  margin: 5px;
}
.kanban-board {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kanban-board-column {
  margin-right: 15px;

  display: flex;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.kanban-board-column > h2 {
  margin-top: 0;
}

.kanban-board-column-card {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 5px;
}

.column-drop-zone {
  min-height: 12px;
  width: 100%;
}

.column-drop-zone.hovered {
  background-color: gray;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(255,255,255,0.6);
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
}

.modal-window {
  position: fixed;
  width: 600px;
  left: calc(50% - 300px);
  top: calc(50% - 100px);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.modal-window-header {
  display: flex;
  flex-direction: row-reverse;
}

.modal-window-actions {
  display: flex;
  flex-direction: column-reverse;
}
